<nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
  <div class="container-fluid bg-info p-2">
    <a class="navbar-brand" href="#">LinuxBench</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active m-2" aria-current="page" routerLink="/benchmarks">Benchmarks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active m-2" aria-current="page" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active btn btn-light m-2 border border-dark" aria-current="page" *ngIf="idToken" routerLink="/upload">Upload Result</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active btn btn-light m-2 border border-dark" aria-current="page" *ngIf="!idToken" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active btn btn-light m-2 border border-dark" aria-current="page" *ngIf="!idToken" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active btn btn-light m-2 border border-dark" aria-current="page" *ngIf="idToken" [routerLink]="['/profile', username]">Profie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active btn btn-light m-2 border border-dark" aria-current="page" *ngIf="idToken" (click)="deleteStorage()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
