<div class="col-md-12">
  <ul class="list-group">
    <li class="list-group-item">1. Open command line</li>
    <li class="list-group-item">2. Download benchmark:</li>
    <li class="list-group-item bg-dark"><p class="text-light">{{ c1 }}</p><button (click)="copyToClipboard(c1)">📋</button></li>
    <li class="list-group-item">3. Give neccessary permissions to run the benchmark:</li>
    <li class="list-group-item bg-dark"><p class="text-light">{{ c2 }}</p><button (click)="copyToClipboard(c2)">📋</button></li>
    <li class="list-group-item">4. Run benchmark:</li>
    <li class="list-group-item bg-dark"><p class="text-light">{{ c3 }}</p><button (click)="copyToClipboard(c3)">📋</button></li>
  </ul>
</div>
